*{
    margin: 0;
  }
  
  body{
      background-color: hsl(0, 0%, 98%);
      width:97vw;
      height: 100vh;
      align-items: center;
      font-size: 16px;
  }
  button{
    all: unset;
  }
.header{
    width: 98%;
    display: flex;
    flex-direction: row;
    column-gap: 72%;
    padding:1%;
    padding-left: 4%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#DarkModeButton{
    cursor: pointer;
    background-image: url(https://cdn-icons-png.flaticon.com/512/691/691505.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20% 70%;
    background-position-y: 50%;
    padding-left: 2.5%;
    width:8%;
}
#MainBox{
    padding: 4%;
    padding-left: 4.5%;
    width: 86%;
    display: flex;
    flex-direction: row;
}
#BackButton{
    width: 8%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqAilA-MHZOIY5FAIU2BT1cMG110XznWMygg&s);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 20%;
    padding-left: 1%;
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: black;
    cursor: pointer;
}
#details{
    width: 97%;
    height: 60%;
    padding-left: 4.5%;
    display: flex;
    flex-direction: row;
    column-gap: 6%;
}
#details img{
    height: 75%;
    width:40%;
}
#detailssections{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
}
#SecondSection{
    width: 100%;
    height: 100%;
    padding-top: 29%;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
}
#ThirdSection{
    width: 100%;
    padding-top: 11%;
    display: flex;
}
#ThirdSection button{
    border:2px solid lightgray;
    border-radius: 4px;
    padding: 2%;
}